.title {
    text-align: center;
    margin-top: 10px;
}

.container {
    text-align: center;
}

.border {
    width: 500px;
    display: inline-block;
    box-shadow: 1px 1px 5px grey;
    margin: auto;
    text-align: left;
}

.task {
    text-align: left;
    list-style-type: none;
}

.text {
    padding: 10px 300px 10px 5px;
    margin: 5px 20px 10px 5px;
    box-shadow: 1px 1px 5px grey;
    display: inline-block;
    vertical-align: middle;
    font-weight: normal;
}

li[complete=true]>h3 {
    text-decoration: line-through;
    color: gray;
}

button {
    position: relative;
    right: 12px;
    margin: 0px 0px 0px 25px;
    vertical-align: middle;
    padding: 15px;
    border: transparent;
    background-size: 100%;
    background-color: transparent;

}

button[disabled=true] {
    filter: invert(100%) sepia(100%) hue-rotate(60deg);
}


button.finish {
    background-image: url(https://cdn0.iconfinder.com/data/icons/basic-ui-elements-round/700/011_yes-512.png);

}

button.trash {
    background-image: url(https://cdn3.iconfinder.com/data/icons/block/32/trash_can-512.png);
    filter: invert(50%) sepia(100%) hue-rotate(270deg);
}


.submission {
    margin: 30px 0px 10px 5px;
    text-align: left;
}

.submission input {
    font-size: 24px;
    height: 22px;
    width: 95%;
    outline: none;
    font-style: italic;
    border-color: transparent;
    box-shadow: 0px 1px grey;
}

.submit {
    float: right;
    box-shadow: 1px 1px 5px grey;
    background-color: rgba(211, 211, 211, 0.377);
    font-size: x-large;
    font-weight: light;
    font-style: italic;
    margin: auto auto 10px auto
}